:root {
    --wonjinblue : #84c3ff;
    --botheight: 34px;

    --inOutCubic : cubic-bezier(0.65, 0, 0.35, 1);
    --outCubic : cubic-bezier(0.33, 1, 0.68, 1);
    --inCubic : cubic-bezier(0.32, 0, 0.67, 0);

    --outBack : cubic-bezier(.28,1.39,.24,1);
}
*{
    margin: 0; padding: 0;
}

#wrap {
    position: fixed;
    right: 50px;
    bottom: 50px;

}

#wonjinbot {
    font-size: 12px;
    line-height: 1em;
}

#wonjinbot__emoji {
    width: var(--botheight);
    height: var(--botheight);
    background-color: #3d3;
}

#wonjinbot__background {
    height: var(--botheight);
    width: 0;
    background-color: var(--wonjinblue);
    background-color: dodgerblue;
    position: absolute;
    right: 39px; bottom: 0px;
    border-radius: 17px;
    transition: width 500ms ease
                ,background-color 0ms ease 500ms
    ;
}

#wonjinbot__contents {
    position: absolute;
    bottom: 0; right: 0;
}

.wonjinbot__item {
    /* position: relative; */
    position: absolute;
    margin-right: var(--botheight);
    right: 0;
    bottom: 0;
}

.wonjinbot__bubble{
    width: auto;
    position: absolute;
    white-space: nowrap;
    right: 0;bottom: 0;
    /* height: var(--botheight); */
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    background-color: dodgerblue;
}

.wonjinbot__bubblecontent{
    display: inline-flex;
    flex-direction:column;
}

.wonjinbot__title {
    /* display: inline-block; */
    /* width: auto; */
    margin-right: auto;
    margin-top: 2px;
}

.wonjinbot__innercontents {
    margin-top: 12px;
    flex-direction:column;
    display: inline-flex;
    margin-right: auto;
}
